{% extends 'base.html.twig' %}

{% block title %}Section Musique{% endblock %}

{% block body %}
    <h1 class="mt-4 text-center"> Musique</h1>

    <div class="row">
    {% for music in music %}
        <div class="col-md-4">
            <div class="product-item text-center">
                <a href="{{ path('app_product_show', { 'slug' : music.slug }) }}"><img src="/uploads/{{ music.illustration }}" alt="{{ music.name }}" class="img-fluid" width="150px"></a>
                <h4>{{ music.name }}</h4>
                <span class="product-subtitle mt-2"> {{ music.subtitle }}</span>
                <span class="product-price mt-4"><h3> {{ music.price }} € </h3></span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
