{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} Dams Enterprise {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 mt-5">
         <img src="/uploads/{{ product.illustration }}" alt=" {{ product.name }}" class="img-fluid"></a>
        <div class="col-md-8">
            <h3> {{ product.name }}</h3>
            <span class="product-page-price">{{ (product.price / 100) |number_format(2, ',', '.') }} €</span>
            <hr>
            <p class="product-description">
                {{ product.description }}
            </p>
            <a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier !</a>
        </div>
    </div>
    </div>
{% endblock %}