<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="img ml-2">
        <img src="{{ asset('assets/img/lettre-bleue-realiste.jpg') }}" class="img-fluid" width="50px" />
        </div>
        <a class="navbar-brand" href="{{ path ('homepage') }}">ams Magazine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path ('homepage') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('presentation') }}">Qui suis-je ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
            <div class="navbar-item">
            {% if app.user %}
                <a href="{{ path ('account') }}">Mon Compte <small>({{ app.user.firstname }}) </small> </a> |  <a href="{{ path ('logout') }}">Déconnexion</a>
            {% else %}
            <a href="{{ path ('login') }}">Connexion</a> | <a href="{{ path ('register') }}">Inscription</a>
            {% endif %}
                <a href="{{ path('cart') }}">
                    <img src="{{ asset('assets/img/shopping.png') }}" class="icon-shopping" alt="panier" width="30px"></a>
            </div>
        </div>
    </div>
</nav>